<% include ../partials/header %>
<% include ../partials/nav %>
<% include ../partials/flash %>
  <section class="row justify-content-md-center bkgroundGradient">
    <div class="col-md-4 bg-dark">
      <form method="POST" action="/parent/login" class="text-center border border-light p-3 pt-0 bg-white" >
        <p class="h4 mb-4">Sign in as Parent</p>
        <!-- Username -->
        <input type="text" name="username" placeholder="Username" class="form-control mb-4">
        <!-- Password -->
        <input type="password"  class="form-control mb-4"  name="password" placeholder="Password">
        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                </div>
            </div>
            <div>
                <!-- Forgot password -->
                <a href="">Forgot password?</a>
            </div>
        </div>
        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
  </form>
      <!-- Default form login -->
  </div>
</section>


<% include ../partials/footer %>
