<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <div class="container">
      <a href="#home" class="navbar-brand">MY WEBSIDE</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/teacher" class="nav-link"> Teacher</a>
        </li>
        <li class="nav-item">
          <a href="#login" class="nav-link">about</a>
        </li>
        <li class="nav-item">
          <a href="#login" class="nav-link">login</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- HEADER SECTION -->
    <section id="header" class=" text-white mb-5">
      <div class="background-overlay py-5">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h1 class="mt-5 pt-5 display-2">
                A link between a parent and the classroom..
              </h1>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
                ndae?</p>
                <a href="#about" class="btn btn-outline-secondary text-white">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i> A Teacher</a>
            </div>

            <div class="col-md-6 mx-auto py-auto mt-5">
              <button class="btn btn-primary btn-lg btn-block"><i class="fa fa-envelope-open-o"></i> Sign In</button>
            </div>
            <div class="col-md-6 mx-auto py-auto mt-5">
              <button class="btn btn-outline-secondary text-white btn-block"><i class="fa fa-envelope-open-o"></i> Sign Up</button>
            </div>

          </div>
        </div>
      </div>
    </section>


    <section class="section bg-white py-5" id="secondSection">
      <div class="container">
        <div class="row text-muted">
          <div class="col-md-3">
            <div class="card text-center">
              <div class="card-body">
                <h3 class="">Be Kebba</h3>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, assumenda!</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center">
              <div class="card-body">
                <h3 class="">Be Kebba</h3>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, assumenda!</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center">
              <div class="card-body">
                <h3 class="">Be Kebba</h3>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, assumenda!</p>
              </div>
            </div>

          </div>
          <div class="col-md-3">
            <div class="card text-center">
              <div class="card-body">
                <h3 class="">Be Kebba</h3>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, assumenda!</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>



    <div class="row text-center">
      <div class="col-md-6">


    <div class="card bg-primary card-form">
                  <div class="card-header text-center">Sign UP</div>
                  <div class="card-body">
                    <form action="">
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" type="text" name="name" placeholder="Name">
                      </div>
                      <div class="form-group">
                        <label for="email"></label>
                        <input class="form-control" type="email" name="email" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <label for="password"></label>
                        <input class="form-control" type="password" name="password" placeholder="Password">
                      </div>
                      <div class="form-group">
                        <label for="password2"></label>
                        <input class="form-control" type="password" name="password2" placeholder="Confirm Password">
                      </div>
                      <input type="submit" class="btn btn-outline-light btn-block">
                    </form>
                  </div>
                </div>

              </div>
            </div>

  <div class="header 222 my-5"></div>
  <div class="container">
    <div class="backgroung">
      <form action="">
        <input type="text" name="firstName" placeholder="Firts Name">
        <input type="text" name="lastName" placeholder="Last Name">
        <input type="email" name="email" placeholder="email" required>
        <input type="text" name="childsName" placeholder="Childs Name">
        <!-- i should be able to give the parents code so they will go straight to the teacher -->
        <button>Sign Up</button>
      </form>
    </div>
  </div>



  <section class="student page">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://images.pexels.com/photos/5775/calculator-scientific.jpg?auto=compress&cs=tinysrgb&dpr=2&h=350" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Assignment1</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">show assif=gnment</a>
      </div>
  </div>

  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Show Hwork</a>
  </div>
</div>

  </section>

<section class="homework">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</section>


  <!-- <img src="https://images.pexels.com/photos/159782/girl-kids-training-school-159782.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
  <img src="https://images.pexels.com/photos/256468/pexels-photo-256468.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""> -->
  <footer id="main-footer" class="bg-dark text-center py-4 text-white mt-5">
    <div class="container">
      <h3 class="">MySite</h3>
      <p class="lead">Copyright &copy; 2018</p>
    </div>
  </footer>
</body>
</html>

<section id="header" class="mb-5">
  <div class="background-overlay py-4">
<% include ./partials/flash %>
<nav class="navbar navbar-expand-sm navbar-dark mb-5">
  <div class="container">
    <a href="#home" class="navbar-brand">PTConnect</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="xxx.html" class="nav-link"> Contact Us</a>
      </li>
      <li class="nav-item">
        <a href="#about" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="/master" class="nav-link">Principal</a>
      </li>
    </ul>
  </div>
</nav>

<!-- HEADER SECTION -->
  <!-- <section id="header" class=" text-white mb-5"> -->
    <!-- <div class="background-overlay py-5"> -->
      <div class="container">
        <div class="row justify-content-md-center text-center">
          <div class="col-md-6 ">
            <h1 class=" mb-5 pt-5 display-4 header-text">
              A Link between a Parent and a Teacher..
            </h1>
          </div></div>
          <div class="row justify-content-md-center">
            <div class="col-md-4 mt-5">
              <a href="/teacher/login" class="btn btn-primary btn-block"><i class="fa fa-envelope-open-o"></i> I'm a Teacher</a>
            </div>
            <div class="col-md-4 mt-5">
              <a href="/parent/login" class="btn btn-outline-light btn-block"><i class="fa fa-envelope-open-o"></i> I'm a Parent</a>
            </div>
          </div>

        <!-- </div>  -->
        <!-- the one above is where the row ends -->
      </div>
    </div>
  </section>
