#showImage{
    width: 100%;
}
.noPaddin{
    padding: 0;
}
body{
    xxbackground: red;
    xxcolor: green;
}
.inlineForm{
    display: inline;
}
/*  ---------------------- this is where it satarts*/
#header{
  background-image: url("https://images.pexels.com/photos/448877/pexels-photo-448877.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350");
  mmbackground-image: url("https://images.pexels.com/photos/159782/girl-kids-training-school-159782.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  mmbackground-image: url("https://images.pexels.com/photos/256468/pexels-photo-256468.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  /* background-image: url(""); */
  min-height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#header .background-overlay{
height: 100%;
widows: 100%;
background: rgba(35, 130, 114, 0.4);
min-height: 650px;
position: ;
}

.navbar{
  border-bottom: 3px #008ed6 solid;
  opacity: 0.8;
}
