<% include ../partials/header %>
<% include ../partials/nav %>
<% include ../partials/flash %>

  <div class="container" style="min-height:80vh;padding-top:55px;">
    <div class="">
        <h1 class="text-center mb-5">Admin</h1>
        <div><a class="my-4 btn btn-primary btn-lg btn-block" href="/master/new-teacher">Create a new Teacher</a></div>
        <div><a class="mb-4 btn btn-secondary btn-lg btn-block" href="/master/new-parent">Create a new Parent</a></div>
        <div><a class="my-4 btn btn-primary btn-lg btn-block" href="/master/all-teachers">View All Teacher</a></div>
        <div><a class="mb-4 btn btn-secondary btn-lg btn-block" href="/master/all-parents">View All Parent</a></div>
        <div><a class="my-4 btn btn-primary btn-lg btn-block" href="/master/all-classrooms">View All Classrooms</a></div>
    </div>
  </div>
<% include ../partials/footer %>
