<% include ../partials/header %>
<% include ../partials/nav %>
<% include ../partials/flash %>

  <div class="container" style="min-height:80vh;padding-top:55px;">
    <div class="">
        <h1 class="text-center my-2">Create a new Parent</h1>
        <div style="width: 30%; margin: 25px auto;">
          <form method="POST" action="/master/new-parent">
              <!-- <input required class="form-control mb-3" type="text" name="parent_name[first_name]" placeholder="Parent First Name">
              <input required class="form-control mb-3" type="text" name="parent_name[last_name]" placeholder="Parent Last Name">
              <input required class="form-control mb-3" type="text" name="student_name[first_name]" placeholder="Student First Name">
              <input required class="form-control mb-3" type="text" name="student_name[last_name]" placeholder="Student Last Name">
              <input required class="form-control mb-3" type="email" name="email" placeholder="Email"> -->
              <input required class="form-control mb-3" type="text" name="parent_first_name" placeholder="Parent First Name">
              <input required class="form-control mb-3" type="text" name="parent_last_name" placeholder="Parent Last Name">
              <input required class="form-control mb-3" type="text" name="student_first_name" placeholder="Student First Name">
              <input required class="form-control mb-3" type="text" name="student_last_name" placeholder="Student Last Name">
              <input required class="form-control mb-3" type="email" name="email" placeholder="Email">
              <label for="classGrade">Classroom</label>
              <select id="classGrade" name="class_name" class="form-control mb-3">
                <option value="grade1">grade1</option>
                <option value="grade2">grade2</option>
                <option value="grade3">grade3</option>
                <option value="grade4">grade4</option>
                <option value="grade5">grade5</option>
                <option value="grade6">grade6</option>
              </select>
              <div class="form-group">
                  <button class="btn btn-lg btn-primary btn-block">Create Account</button>
              </div>
          </form>
            <a href="/master">Go Back</a>
        </div>
    </div>
  </div>
  <% include ../partials/footer %>
