<% include ../partials/header %>
<% include ../partials/nav %>
<% include ../partials/flash %>

<div class="container" style="min-height:80vh;padding-top:55px;">
    <div class="">
        <h1 class="text-center">Create a new Teacher</h1>
        <div style="width: 30%; margin: 25px auto;">
          <form method="POST" action="/master/new-teacher">
              <input required class="form-control mb-3" type="text" name="name_first_name" placeholder=" First Name">
              <input required class="form-control mb-3" type="text" name="name_last_name" placeholder=" Last Name">
              <input required class="form-control mb-3" type="email" name="email" placeholder="Email">
              <label for="classGrade">Classroom</label>
              <select id="classGrade" name="class_name" class="form-control mb-3">
                <option value="grade1">grade1</option>
                <option value="grade2">grade2</option>
                <option value="grade3">grade3</option>
                <option value="grade4">grade4</option>
                <option value="grade5">grade5</option>
                <option value="grade6">grade6</option>
              </select>
              <!-- put a select for the class -->
              <div class="form-group">
                  <button class="btn btn-lg btn-primary btn-block">Create Account</button>
              </div>
          </form>
            <a href="/master">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>
