<% include ../partials/header %>
<% include ../partials/nav %>
<% include ../partials/flash %>

  <div class="container" style="min-height:80vh;padding-top:55px;">
    <div class="">
      <h1>Show Classroom</h1>
      <h2><%=classroom%></h2>
      <p>I will be able to see all the students in this classroom <br>
      but i will not be able to delete them or edit them. <br>
      if i want to delete them, i will go to their individual show page and delete them
      from there. <br>
      this feature is just for now
    </p>
    </div>
  </div>
<% include ../partials/footer %>
