<h1>Create New Post</h1>

<form action="/post" method="POST">
  <p><input type="text" name="title" placeholder="Title"></p>
  <p><input type="text" name="price" placeholder="price"></p>
  <p><textarea name="description" placeholder="description"></textarea></p>
  <p><input type="text" name="location" placeholder="location"></p>

  <p><input type="submit"</p>
</form>
